.table4Wrapper {
    border: 3px solid #6c757d;
    padding: 3px;
    border-radius: 1%;
  }
  .table4 {

    table-layout: fixed;
    border: 3px solid #6c757d;
  }
  .table4 th {
    width: 100px;
    background-color: #F5F5F5;
    color: #1A1A1A !important;
    max-width: 50px;
    
    border-bottom: 2px solid #6c757d !important;
  }

  .table4 thead tr th{
    border-right: 3px solid #6c757d!important;
  }
  .table4  tr th{
    border-right:5px solid #6c757d!important;
  }
  .table4 td {
    width: 100px;
    padding: 5px;
    display: table-cell;
  
    text-align: center;
  }
  
  /* ---------------------------------------------- */
  .table4 tbody:not(:first-child) td:hover {
    background-color: rgb(209, 220, 255);
  }
  /* ---------------------------------------------------- */
  
  .table4 tbody tr:hover th {
    color: var(--yellow) !important;
  }
  
  .table4 tbody tr:nth-child(5n)  {
  
    border-bottom: 2px solid #000 !important;
  
  }

  .table4 td:not(:last-child){
    border-right:2px solid #000 ;
  }